<!-- Matches -------------->

{% include 'navbar.html' %}
{% load static %}
<link rel="stylesheet" href="{% static 'styles/style.css' %}">
<title>Profile</title>
		<section class="project-area">
			<center>
			<font size="6">
				
<p><b>PROFILE</b></p>

			</font>
				<div id="project" class="project-item">
					<img src="/static/images/PngItem_307416.png" alt="HTML5 Icon" style="padding:1px;float:left;width:128px;height:128px;">
					<h2><span class="float_left">Profile 1</span></h2>
    <h2><span class="float_right">Contact: 81237931023</span></h2>
					
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
						Vestibulum dignissim, sapien et efficitur vulputate,
						felis blandit metus, vitae eleifend nisl justo sed nunc.
						Sed ut nunc malesuada, scelerisque mauris sed, hendrerit neque.
						Morbi eget nisl non tellus posuere iaculis.
						Nunc ut tincidunt est, a tempus tortor. Mauris lobortis felis elit,
						quis euismod urna lacinia vitae. Morbi interdum diam in faucibus finibus.
						Sed pellentesque sem a diam rhoncus, eu semper neque efficitur. </p>

				</div>
				<div id="project" class="project-item">
					<img src="/static/images/blank-profile-picture-973460" alt="HTML5 Icon" style="padding:1px;float:left;width:128px;height:128px;">
					<h2>PROJECT 2 NAME </h2>
					
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
						Vestibulum dignissim, sapien et efficitur vulputate,
						felis blandit metus, vitae eleifend nisl justo sed nunc.
						Sed ut nunc malesuada, scelerisque mauris sed, hendrerit neque.
						Morbi eget nisl non tellus posuere iaculis.
						Nunc ut tincidunt est, a tempus tortor. Mauris lobortis felis elit,
						quis euismod urna lacinia vitae. Morbi interdum diam in faucibus finibus.
						Sed pellentesque sem a diam rhoncus, eu semper neque efficitur. </p>

				</div>
			</div>
			</center>
			<style>
			.float_left{
				float:left;

			}
    		.float_right{
				float:right;
			}

				navbar {
			width: 100%;
			margin:0px 0;
			}
				navbar ul{
			width: 100%;
			list-style: none;
			margin: 0;
			padding: 0;
			overflow: hidden;
			}
		
			navbar ul li{
			width: 33%;
			float: left;
			}
				navbar ul li a{
			text-decoration: none;
			color: rgb(0, 0, 0);
			text-align: center;
			padding: 20px 0;
			display: block;
			width: 100%;
			background-color: rgb(159, 125, 227);
			}
		
			navbar ul li a:hover {
			background-image: linear-gradient(rgb(53, 118, 174), rgb(173, 46, 220));

			}
		
		.home{
			margin-right: 5%;
			margin-top: 15px;
			margin-left: 15px;
			margin-bottom: 15px;
			padding-top: 15px;
			padding-left: 15px;
			padding-right: 5px;
			padding-bottom: 15px;
			border-radius: 10px;
			box-shadow: 15px 15px 15px black;
			text-align: justify;
			color: white;
			background-image: linear-gradient(rgb(129, 196, 235), rgb(5, 44, 151));
		}
		
		.project-area {
		
			background-repeat: no-repeat;
			background-position: left;
			box-sizing: border-box;
		}
		
		.project-item {
			width: 75%;
			margin-top:5px;
			margin-bottom:15px;
			margin-left: 5%;
			margin-right: 5%;
			padding-top:5px;
			padding-bottom:5px;
			padding-left: 30px;
			padding-right: 30px;
			border-radius: 10px;
			box-shadow: 10px 10px 40px gray;
			text-align: justify;
			color: white;
			background-color: black;
		}
		
		#project {
			border-left: 15px solid;
			border-image: linear-gradient(purple, tomato);
			border-image-slice: 1;
		}
		
		
		#contact .contact-item {
		background-color: aquamarine;
		float: left;
			width: 20%;
			padding: 20px;
			text-align: center;
			border-radius: 10px;
			padding: 30px;
			margin: 30px;
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;
			box-shadow: 15px 15px 15px black;
		}
		
			</style>
		</section>
